@charset "UTF-8";
.header {
  /* общие стили для данного блока */
  /* ----------------------------- */
  /* темный фон */
  /* светлый фон */
}
.header .header__conteiner_align-center {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.header .header__top {
  background-color: #303030;
}
.header .header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* блок с телефоном и емейлом */
  /* кнопка */
  /* ------ */
}
.header .header__conteiner .header__wrap-block-phone-email * {
  color: #fff;
}
.header .header__conteiner .header__batton {
  padding: 10px 15px 10px 40px;
  color: #000;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}
.header .header__conteiner .header__batton_img_case-yellow {
  background: url(../img/SVG_images/suitcase_briefcase_icon_178309.svg) 15px center/20px no-repeat #ffc222;
}
.header .header__conteiner .header__batton:hover {
  opacity: 0.8;
}